*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#principal{
    background-color: #222222;
    color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}

.en-punto{
    filter: invert(100%);
}